@media (min-width: 856px) {
    .header_mb {
        display: none;
    }
    .right_top_header {
        gap: 43px;
    }
}
@media (max-width: 855px) {
    .header_pc {
        display: none;
    }
    .sec1_cart .wrp .left,
    .sec1_cart .wrp .right {
        width: 100%;
    }
    .sec_shared .gr_items .item {
        width: calc((100% - 30px) / 2);
    }

    footer .wrp .gr_col .left,
    footer .wrp .gr_col .right {
        width: 100%;
    }
    .sec1_home .gr_banner .banner_item .WImage {
        width: 100%;
    }
    .sec1_home .gr_banner .banner_item {
        width: calc(50% - 5px);
    }
    .sec1_home .gr_banner {
        gap: 10px;
    }
    .sec3_home .gr_items {
        gap: 15px;
    }
    .sec3_home .gr_items .item {
        width: calc((100% - 30px) / 2);
    }
    .sec2_home,
    .sec4_home,
    .sec3_home,
    .sec5_home {
        padding: 30px 0;
    }
    .sec2_product .wrp .right,
    .sec2_product .wrp .left {
        width: 100%;
    }
    .gr_check {
        flex-direction: row;
    }
    .sec2_product .right .box .box_l {
        margin-bottom: 10px;
    }
    .gr_items_shared .item {
        width: calc((100% - 24px) / 2);
    }
    .sec1_product {
        padding-top: 30px;
    }
    .sec1_productCollection .gr_times {
        gap: 10px;
    }
    .sec1_productCollection .title_g {
        margin-bottom: 15px;
    }
    .sec1_productCollection {
        padding: 30px 0;
    }
    .sec1_productDetail .left,
    .sec1_productDetail .right {
        width: 100%;
    }
    .sec1_productDetail .left .gr_left .top_image {
        width: 100%;
    }
    .sec1_productDetail .left .gr_left .image_product .Wimg {
        width: 100%;
    }
    .sec1_productDetail .left .review .review_item {
        gap: 20px;
    }
    .sec1_productDetail .left .review .review_item .review_r,
    .sec1_productDetail .left .review .review_item .review_l {
        width: 100%;
    }
    .sec1_productDetail .right .gr_right .btn_product .buy,
    .sec1_productDetail .right .gr_right .btn_product .add {
        width: 100%;
    }
    .sec1_productDetail .wrp {
        flex-direction: column-reverse;
    }
    .sec1_productDetail .left {
        padding-bottom: 30px;
    }
    .sec2_product_detail {
        padding: 30px 0;
    }
    .sec1_shipping .left_shipping,
    .sec1_shipping .right_shipping {
        width: 100%;
    }
    .sec1_shipping .left_shipping .shipping_item .item_option {
        gap: 10px;
    }
    .sec1_shipping {
        padding-bottom: 30px;
    }
    .sec1_seller .wrp .gr_sellers .item_seller {
        width: 150%;
    }
    .sec1_seller .wrp .gr_sellers {
        overflow-x: scroll;
    }
    .sec1_seller .wrp .gr_sellers {
        margin-bottom: 30px;
    }
    .sec1_seller .wrp .top_seller .text_title {
        margin-bottom: 10px;
    }
    .sec1_seller .wrp .top_seller .time {
        gap: 10px;
    }
    .success_product .product_info .product_item-bot .item_price_sub .text {
        margin-bottom: 10px;
    }
    .success_product .product_address .product_address_item .item_address {
        grid-template-columns: 1fr 2fr;
    }
    .header_mb .top_top_menu {
        gap: 15px;
    }
    .header_mb .btn_header {
        margin-right: 10px;
    }
    .right_top_header .cart {
        margin-right: 15px;
        z-index: 3;
    }
    .sec2_product .right .box .box_r {
        justify-content: space-between;
        width: 100%;
    }
    .gr_imgs.owl-carousel .owl-nav button.owl-next {
        position: absolute;
        top: 50%;
        font-size: 40px;
        color: #fff;
        transform: translate(0, -50%);
        right: -5px;
        background: none;
    }
    header .bottom .wrp .right {
        width: 100%;
        justify-content: space-between;
    }
    header .bottom {
        padding: 13px 0 7px 0;
    }
    header .top .wrp .nav {
        padding: 10px 0;
    }
    .sec1_productCollection .title_g {
        font-size: 26px;
    }
    .sec1_profile {
        margin-bottom: -1px;
    }
    .sec2_profile {
        margin-bottom: -2px;
    }
}
@media (max-width: 1181px) {
    .wrp {
        padding: 0 15px;
    }
}
@media (max-width: 410px) {
    .header_mb {
        padding-top: 20px;
    }

    .header_mb .btn_header {
        padding: 5px 15px;
    }
    .right_top_header .cart {
        margin-right: 15px;
    }
    .header_mb .btn_header .btn_shared {
        font-size: 12px;
    }
    .header_mb .logo img {
        width: 130px;
    }
    footer .wrp .gr_col .right .col {
        width: calc(50% - 10px);
        text-align: center;
        margin-bottom: 20px;
    }
    footer .wrp .gr_col .right {
        width: 100%;
        gap: 10px;
    }
    footer .wrp .gr_col .right .col .gr_items {
        margin-top: 0;
    }
    footer .bot .left {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    footer .bot .right {
        justify-content: space-between;
        width: 100%;
    }
    .right_top_header .cart .box_cart {
        width: 350px;
    }

    .sec_shared .gr_items .item {
        width: 100%;
    }
    .sec_shared .gr_items {
        gap: 10px;
    }
    .sec1_cart .wrp .left .item .info {
        margin-bottom: 20px;
    }
    .sec1_cart .wrp .left .item .info .WImage {
        width: 88px;
    }
    .sec1_home .gr_banner {
        gap: 10px;
    }
    .sec1_home .gr_banner .banner_item .WImage {
        width: 175px;
    }
    .sec1_home {
        padding: 20px 0;
    }
    .sec3_home .gr_items .item {
        width: 100%;
    }
    .sec3_home .gr_items {
        gap: 10px;
    }
    .text_shared {
        font-size: 18px;
        line-height: 18px;
    }
    .sec3_home .time {
        gap: 10px;
    }
    .sec2_home,
    .sec4_home,
    .sec3_home,
    .sec5_home {
        padding: 20px 0;
    }
    .gr_items_shared .item {
        width: 100%;
    }
    .sec1_productDetail .left .gr_left .ai div {
        display: flex;
        justify-content: center;
        padding: 5px 0;
    }

    .sec1_productDetail .right .gr_right .gr_info .gr_pad {
        gap: 10px;
        justify-content: unset;
    }
    .sec1_productDetail .right .gr_right .gr_info .gr_pad .info_it {
        width: 100%;
    }
    .sec1_profile .wrp .gr_info-profile .wrp1 .item_info-profile {
        width: calc((100% - 10px) / 2);
    }
    .sec1_profile .wrp .gr_info-profile .wrp1 {
        gap: 10px;
    }
    .sec1_shipping .left_shipping .shipping_item .item_option .option {
        padding-left: 10px;
    }
    .sec1_seller .wrp .gr_sellers .item_seller {
        width: 300%;
    }
    .sec1_seller .wrp .gr_sellers .item_seller {
        padding: 10px;
    }
    .success_product .product_address .product_address_item {
        padding: 10px;
    }
    .success_product .product_address .product_address_item .item_address {
        grid-template-columns: 1fr 1fr;
    }
    .success_product {
        padding-bottom: 40px;
    }
    .right_top_header .cart .box_cart::before {
        content: '';
        width: 30px;
        height: 40px;
        background: transparent;
        display: inline-block;
        position: absolute;
        right: 33px;
        top: -25px;
    }
    .right_top_header .menu_btn {
        padding: 10px;
        z-index: 5;
        height: 40px;
    }
    .right_top_header .cart .box_cart {
        right: -20px;
    }
    .right_top_header .cart .box_cart .gr_item_cart .WImage {
        width: 70px;
    }

    .sec2_product .right .box .box_l a {
        padding: 5px 10px;
        font-size: 12px;
    }
    .item_amount .button_amount {
        width: 100%;
    }
    .sec1_productDetail .left .review .review_item {
        flex-wrap: wrap;
    }
    .sec1_productDetail .left .review .review_l-top .number {
        font-size: 22px;
    }
    .sec1_productDetail .left .review .review_l-top .number span {
        font-size: 19px;
    }
    .sec1_profile .wrp .gr_img-profile .avatar img {
        width: 80px;
        height: 80px;
    }
    .sec1_profile .wrp .gr_img-profile .avatar {
        bottom: -50px;
    }
    .gr_vourches.owl-carousel .owl-nav button.owl-next {
        top: 30%;
        right: -5px;
    }
    footer .wrp .gr_col {
        gap: 30px;
    }
    header .top .wrp .nav {
        padding: 10px 0;
        gap: 10px;
    }
    .sec1_cart .wrp {
        padding-bottom: 20px;
    }
    .sec1_cart .wrp .right .box .amount .price_info,
    .sec1_cart .wrp .right .box .title,
    .sec1_product .wrp1 .title {
        font-size: 18px;
    }
    .sec1_cart .wrp .right .box .amount {
        margin-bottom: 30px;
    }
    .sec1_cart .wrp .right .box {
        padding: 24px;
    }
    .sec1_product .wrp1 .title,
    .sec1_product .wrp1 .decs {
        margin-top: 0;
    }
    .sec2_product .right .box .box_r .prev,
    .sec2_product .right .box .box_r .next {
        padding: 6px 13px 3px;
    }
    .sec2_product .wrp .left .search .search_text,
    .sec2_product .wrp .left .check_text {
        margin-top: 10px;
    }
    .sec1_product .wrp {
        padding-bottom: 20px;
    }
    .sec2_product {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .sec2_product .wrp .left .title {
        font-size: 18px;
    }
    .gr_check {
        gap: 10px;
    }
    .sec2_product .right .box .box_r .text {
        font-size: 12px;
    }

    .paging a {
        font-size: 12px;
    }
    .paging {
        gap: 10px;
    }
    .sec1_productDetail .left .tags_detail {
        margin-bottom: 20px;
    }
    .sec_shared .gr_items .item .text {
        padding: 12px;
    }
    .sec3_home .text_shared {
        margin-bottom: 10px;
    }
    .btn_go {
        margin-top: 20px;
        padding: 10px 20px;
    }
    .sec1_productCollection .title_g {
        font-size: 18px;
        line-height: 18px;
    }
    .sec1_productCollection .gr_times .item {
        font-size: 12px;
    }
    .gr_items_shared .item .text {
        padding: 12px;
        gap: 4px;
    }
    .sec1_productDetail {
        padding-top: 20px;
    }
    .sec1_productDetail .right .gr_right .title_product {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .sec1_productDetail .right .gr_right .gr_price .price_km .price_pro {
        font-size: 18px;
    }
    .sec1_productDetail .right .gr_right .gr_price .price {
        font-size: 14px;
    }
    .sec1_productDetail .right .gr_right .producer,
    .sec1_productDetail .right .gr_right .sold_product {
        margin-bottom: 10px;
    }
    .sec1_productCollection .gr_items_shared .item .text .title {
        font-size: 14px;
    }
    .sec1_productCollection .gr_items_shared .item .text .decs {
        font-size: 12px;
    }
    .sec1_productCollection .top_collect {
        margin-bottom: 20px;
    }
    .gr_items_shared {
        gap: 10px;
    }
    .sec1_cart .left .text_title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .sec1_cart {
        padding-top: 20px;
    }
    .sec1_cart .wrp .left .item .button_amount span {
        padding: 7px 0;
    }
    .sec1_cart .wrp .left .item .info .text .name {
        font-size: 14px;
    }
    .sec1_productDetail .right .gr_right {
        padding: 12px;
    }
    .sec1_productDetail .left .detail .title_detail,
    .sec1_productDetail .left .tags_detail .title_tag,
    .sec1_productDetail .left .review .title_review,
    .sec1_profile .wrp .gr_info-profile .wrp1 .item_info-profile .dep,
    .sec1_profile .wrp .vourcher .title_voucher,
    .sec3_profile .wrp .title_g,
    .title_search,
    .sec1_shipping .left_shipping .shipping_item .shipping_title,
    .sec1_shipping .right_shipping .title,
    .success_product .wrp1 .top .txt,
    .success_product .product_info .product_item .title,
    .success_product .product_address .product_address_item .title,
    .sec1_seller .wrp .top_seller .text_title {
        font-size: 18px;
    }
    .sec1_productDetail .left .detail {
        margin-bottom: 20px;
    }
    .sec1_productDetail .left .gr_comments .cmt_detail {
        font-size: 12px;
    }
    footer .wrp {
        padding-top: 20px;
    }
    .sec1_profile .wrp .profile_title .name {
        font-size: 18px;
    }
    .sec1_profile .wrp .gr_img-profile {
        margin-bottom: 56px;
    }
    .sec1_profile .wrp .profile_title .number {
        width: 24px;
        height: 24px;
    }
    .sec2_profile {
        margin-top: -1px;
    }
    .title_search {
        margin-bottom: 10px;
    }
    .sec1_shipping .left_shipping .shipping_item,
    .sec1_shipping .right_shipping,
    .success_product .product_info .product_item {
        padding: 12px;
    }
    .sec1_seller .wrp .top_seller {
        margin-bottom: 20px;
        padding-top: 30px;
    }
    .sec1_seller {
        padding-bottom: 40px;
    }
    .err_cart {
        padding: 40px 0;
    }
    .sec1_shipping .left_shipping .shipping_item {
        margin-bottom: 0;
    }
}
